html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #444;
}

a:hover {
    color: black;
    transition: 0.5s;
}

* {
    font-family: 'Slabo 27px', serif;
    color: #5c5c3d;
}

body {
    margin: 0;
}

.debug {
    border: 3px solid red;
}

#branding {
    height: 70px;
    background-color: rgba(0,0,0,0);
    display: inline-block;
    padding-left: 100px;
}

#branding img {
    height: 70px;
    width: 80px;
    float: left;
    background-color: rgba(0,0,0,0)
}
.nav-link {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 30px 50px 0 0;
    text-transform: uppercase;
    animation: fadein-wrapper 2s forwards ease 0.2s;
    opacity: 0;
}

.nav-link:hover {
    color: teal;
    transition: 1s;
}

.navbar {
    width: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    z-index: 5;
    background-color: white;
 
}

.navbar-container {
    width: 70%;
    display: block;
    float: right;
    margin: auto;
    text-align: right;
    padding-right: 50px;
}

#banner {
    display: block;
}

@media (max-width: 830px) {

    #branding {
        float: none;
        width: 100%;
        display: block;
        text-align: center;
        padding: 0;
    }

    #branding img {
        float: none;
        padding: 0;
        transform: scale(2);
    }

    .navbar {
        position: relative;
        border: none;
        display: block;
    }

    .navbar-container {
        width: 100%;
        display: block;
        float: none;
        margin-top: 10px;
    }

    .nav-link {
        display: block;
        text-align: center;
        width: 100%;
        padding: 10px;
    }

    .sopachem-banner {
        margin-top: 50px;
    }

}

.sopachem-banner {
    width: 100%;
    height: 40vh;
    margin-top: 12vh;
    background-color: white;
    position: relative;
    background-image: url(../img/slider1.png);
    background-size: 80% cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sopachem-banner img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:  1;
}

.banner-txt {
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    color: #1a1aff;
}

.banner-txt h2 {
    background-color: white;
    width: 300px;
    position: absolute;
    left: 40vw;
    top: 50px;
    padding: 10px;
}

.banner-txt h3 {
    background-color: rgba(0,0,255,0.6);
    width: 200px;
    position: absolute;
    left: 35vw;
    top: 100px;
    padding: 10px;
    color: white;
}

.main-product-container {
    width: 100%;
    height: 1000px;
    background-image: linear-gradient(to bottom, silver, #e6f2ff);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.main-product-container img {
    margin: 40px;
}

.main-product-title {
    display: block;
    font-size: 72px;
    text-align: center;
    padding-top: 20vh;
}

.main-product-description {
    display: block;
    font-size: 32px;
    text-align: center;
    padding-top: 10px;
}

#shop-btn {
    margin: 50px auto 0 auto;
    display: block;
    height: 50px;
    width: 150px;
    text-align: center;
    font-weight: 200;
    font-size: 17px;
    border: none;
    background-color: orange;
}

#shop-btn:hover {
    color: orange;
    background-color: white;
    transition: 0.5s;
}

.horizontal-line {
    width: 80%;
    border-top: 1px solid #444;
    margin: auto;
    padding: 10px;
}

.articles-container {
    display: flex;
    width: 80%;
    margin:auto;
    padding: 20px 50px 50px 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.articles-title {
    text-align: center;
    padding: 50px 20px;
    font-size: 48px;
    text-transform: uppercase;
    color: #444;
    letter-spacing: 3px;
}

.article-card p {
    text-align: left;
}

.article-card {
    flex: 1;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    min-width: 200px;
}

.article-card h4 {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
}

.articles-commas img {
    width: 100px;
    height: 100px;
    margin: 0;
    opacity: 0.7;
}

.flexbox {
    display:flex;
    width: 100%;
}

.supplier-box {
    flex: 1;
    text-align: right;
    padding: 20px;
    line-height: 24px;
    font-size: 18px;
}

.supplier-box span {
    font-weight: 800;
}

.products-container {
    width: 80%;
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    flex: 8;
    align-items: flex-end;
    background-image: linear-gradient(to bottom, #e6f2ff, #f2d9e6);
}

.products-container2 {
    width: 80%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    flex: 8;
    align-items: flex-end;
    background-image: linear-gradient(to bottom, #e6f2ff, #f2d9e6);
}

.product-card {
    max-height: 50vh;
    min-height: 300px;
    width: 30%;
    min-width: 230px;
    box-sizing: border-box;
    padding: 20px;
    margin: auto;
    text-align: left;
    display: block;
    align-items: flex-end;
    overflow: hidden;
}

.product-card2 {
    min-height: 300px;
    max-height: 50vh;
    flex: 1;
    width: 30%;
    min-width: 230px;
    box-sizing: border-box;
    padding: 20px;
    margin: auto;
    text-align: left;
    display: block;
    align-items: flex-end;
    overflow: hidden;
}

.product-description {
    overflow: hidden;
}

.product-card img, .product-card2 img {
    width: 100%;
    max-width: 200px;
    height: 180px;
    background-color: rgba(0,0,0,0);
    -webkit-box-shadow: 10px 10px 107px -1px rgba(0,0,0,0);
}

.product-card:hover, .product-card2-hover {
    transform: scale(1.2);
    transition: 2s ease;
    z-index: 3;
    color: black;
}

.selection-container {
    text-align: center;
    margin: auto;
    width: 100%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-weight: bold;
}

.product-select {
    display: inline-block;
    padding: 20px 50px;
    margin: auto;
}

.product-select:hover {
    color: blue;
    transition: 1s;
    cursor: pointer;
}

.productpage-main-container {
    width: 80%;
    display: flex;
    margin: 30px auto 0 auto;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom, silver, #e6f2ff);
    padding-top: 10vh;
}

.whitespace {
    height: 50px;
    width: 80%;
    margin: auto;
   
}
.productpage-branches-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.productpage-branches-container img {
    min-width: 250px;
    min-height: 300px;
}

.branches-wrapper {
    display: inline-block;
    width: 30%;
}

.branche-title {
    margin: 15vh auto 0 auto;
    font-size: 48px;
    text-align: center;
}
.productpage-product {
    flex: 2;
    min-height: 400px;
    min-width: 400px;
    margin: auto;
    text-align: center;
}

.rating {
    text-align: right;
    display: block;
    width: 100%;
    padding-bottom: 10px;
}

.branches-product {
  flex: 2;  
  
}

@media (max-width: 830px) {
    .branches-product img {
        max-width: 75%;
        max-height: 75%;
        margin: auto;
    }
}
.branches-product img{
    max-width: 250px;
    max-height: 250px;
    padding: 40px;
}

.productpage-product img {
    max-width: 400px;
    max-height: 400px;

    box-sizing: border-box;
    padding: 40px;
}

.productpage-description-container {
    flex: 3;
    box-sizing: border-box;
    padding: 20px;
    min-width: 300px;
}

@media (max-width: 880px) {
    .rating{
        text-align: center;
    }
}

.branches-description-container {
    flex: 3;
}

.branches-description {
    width: 80%;
}

.productpage-description {
    width: 80%;
    margin: 10% auto 0 auto;
    box-sizing: border-box;
}

.productpage-articles-title {
    text-align: center;
    margin: 10px auto;
    padding: 10px 0;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 90%;
    font-size: 36px;
}

.productpage-articles-container {
    width: 80%;
    min-height: 300px;
    margin: auto;
    display: flex;
    
}

.productpage-articlecard {
    width: 30%;
    margin: 30px;
    flex: 1;
}

.productpage-articlecard h2 {
    text-align: center;
    font-size: 28px;
}

.supplier-banner {
    margin-top: 12vh;
    width: 100%;
    position: relative;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    align-items: center;
    animation: fadein-banner 3s forwards ease;
    opacity: 0;
}

@keyframes fadein-banner {
    0% {
        transform: translateX(10px);
        opacity: 0;
    }
    100%{transform: translateX(0); opacity: 1;};
}

.supplier-banner-txt {
    font-size: 32px;
    width: 65%;
    margin: auto;
    padding: 40px 0;
   
}

.supplier-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    letter-spacing: 20px;
    width: 80%;
    border-bottom: 1px solid black;
    margin: 0 auto 50px auto;
    animation: fadein-title 2s forwards;
    opacity: 0;
    animation-delay: 1s;
}

@keyframes fadein-title {
    0% {
        transform: translateX(-10px);
        opacity: 0;
    }
    100%{transform: translateX(0); opacity: 1;};
}

.jumbo-wrapper {
    background-image: linear-gradient(to bottom, silver, #e6f2ff);
    padding-top: 50px;
    width: 90%;
    margin: auto;
    animation: fadein-wrapper 2s forwards ease 0.2s;
    opacity: 0;
}

@keyframes fadein-wrapper {
    0%{opacity: 0; transform: translateY(10px)}
    100%{opacity: 1; transform: translateY(0)};
}

.footer-container {
    width: 90%;
    position: relative;
    margin: 10px auto 0 auto;
    border-top: 1px solid black;
}

.footer-left {
    padding: 20px 50px;
    color: black;
    font-weight: bold;
    display: inline-block;
    left: 50px;
}

.footer-right {
    float: right;
    display: inline-block;
    padding: 5px;
}

.footer-right img {
    max-height: 50px;
}
.footer-right a {
    padding-right: 20px;
}