html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #444;
}

a:hover {
    color: black;
    transition: 0.5s;
}

* {
    font-family: 'Slabo 27px', serif;
}

body {
    margin: 0;
}

.debug {
    border: 3px solid red;
}

#branding {
    height: 70px;
    background-color: rgba(0,0,0,0);
    display: inline-block;
    padding-left: 100px;
}

#branding img {
    height: 70px;
    width: 80px;
    float: left;
    background-color: rgba(0,0,0,0)
}
.nav-link {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 30px 50px 0 0;
    text-transform: uppercase;
}

.nav-link:hover {
    color: teal;
    transition: 1s;
}

.navbar {
    width: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    z-index: 5;
    background-color: white;
}

.navbar-container {
    width: 70%;
    display: block;
    float: right;
    margin: auto;
    text-align: right;
    padding-right: 50px;
}

.sopachem-banner {
    width: 100%;
    height: 40vh;
    margin-top: 12vh;
    background-color: white;
    position: relative;
    background-image: url(../img/slider1.png);
    background-size: 80% cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sopachem-banner img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:  1;
}

.banner-txt {
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    color: #1a1aff;
}

.banner-txt h2 {
    background-color: white;
    width: 300px;
    position: absolute;
    left: 40vw;
    top: 50px;
    padding: 10px;
}

.banner-txt h3 {
    background-color: rgba(0,0,255,0.6);
    width: 200px;
    position: absolute;
    left: 35vw;
    top: 100px;
    padding: 10px;
    color: white;
}

.main-product-container {
    width: 100%;
    height: 1000px;
    background-image: linear-gradient(to bottom, silver, #e6f2ff);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.main-product-container img {
    margin: 40px;
}

.main-product-title {
    display: block;
    font-size: 72px;
    text-align: center;
    padding-top: 20vh;
}

.main-product-description {
    display: block;
    font-size: 32px;
    text-align: center;
    padding-top: 10px;
}

#shop-btn {
    margin: 50px auto 0 auto;
    display: block;
    height: 50px;
    width: 150px;
    text-align: center;
    font-weight: 200;
    font-size: 17px;
    border: none;
    background-color: orange;
}

#shop-btn:hover {
    color: orange;
    background-color: white;
    transition: 0.5s;
}

.articles-container {
    display: flex;
    width: 80%;
    min-height: 200px;
    margin:auto;
}

.articles-title {
    text-align: center;
    padding: 50px 20px;
    font-size: 48px;
    text-transform: uppercase;
    color: #444;
    letter-spacing: 3px;
}

.article-card p {
    text-align: left;
}

.article-card {
    flex: 1;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.article-card h4 {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
}

.articles-commas img {
    width: 100px;
    height: 100px;
    margin: 0;
    opacity: 0.7;
}

.flexbox {
    display:flex;
    width: 100%;
}

.supplier-box {
    flex: 1;
    text-align: right;
    padding: 20px;
    line-height: 24px;
    font-size: 18px;
}

.supplier-box span {
    font-weight: 500;
}

.products-container {
    width: 80%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex: 8;
    align-items: flex-end;
    background-image: linear-gradient(to bottom, white, grey);
}

.product-card {
    height: 50vh;
    min-height: 300px;
    width: 30%;
    min-width: 230px;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    text-align: left;
    display: block;
    align-items: flex-end;
}

.product-card img {
    width: 100%;
    max-width: 200px;
    height: 180px;
    -webkit-box-shadow: 10px 10px 107px -1px rgba(0,0,0,0.3);
}



.selection-container {
    text-align: center;
    margin: auto;
    width: 100%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-weight: bold;
}



.product-select {
    display: inline-block;
    padding: 20px 50px;
    margin: auto;
}

.product-select:hover {
    color: blue;
    transition: 1s;
    cursor: pointer;
}

.productpage-main-container {
    width: 80%;
    height: 60vh;
    display: flex;
    margin: 20vh auto 0 auto;
    flex-wrap: wrap;
    border: 1px solid black;
}

.productpage-product {
    flex: 2;
    min-height: 400px;
    min-width: 300px;
}

.productpage-product img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
}

.productpage-description-container {
    flex: 3;
    min-height: 400px;
    min-width: 300px;
}

.productpage-description {
    width: 80%;
    margin: 15% auto 0 auto;
    box-sizing: border-box;
}